<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>DiveCamera uses the camera to record dives.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>DiveCamera uses location while recording dives.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>DiveCamera uses the microphone to record audio with videos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>DiveCamera saves captured photos and videos to your photo library.</string>
</dict>
</plist>
